<<<<<<< HEAD
.banner{
    margin-top: 5px;
    box-shadow: 8px 8px 18px -2px rgba(0,0,0,0.82);
    border-radius: 15px;
}

.employee-form {
    
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
    padding: 10px;
    /* width: 50%; */
    margin: auto;
    width: 50%;
    border: 1px solid grey;
    /* padding: 10px; */
}

.employees-table {
    padding: 20px;
    margin: auto;
    width: 70%;
    border: 1px solid grey;
}

tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: greenyellow;
    color: black;
    padding: 5px 10px;
    /* margin: 0px 0; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:red;
    margin-left: 5px;
}

.hide{
    display:none;
=======
.banner{
    margin-top: 5px;
    box-shadow: 8px 8px 18px -2px rgba(0,0,0,0.82);
    border-radius: 15px;
}

.employee-form {
    
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
    padding: 10px;
    /* width: 50%; */
    margin: auto;
    width: 50%;
    border: 1px solid grey;
    /* padding: 10px; */
}

.employees-table {
    padding: 20px;
    margin: auto;
    width: 70%;
    border: 1px solid grey;
}

tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: greenyellow;
    color: black;
    padding: 5px 10px;
    /* margin: 0px 0; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:red;
    margin-left: 5px;
}

.hide{
    display:none;
>>>>>>> 8055e4190379c9fb3253a97418934079677aeeb8
}